.signup-part1 {
  height: 285px;
  background-color: $signup-page-lightcoral;
  text-align: center;
  &__h1 {
    display: inline-block; // try removing it to see what happens xD
    margin-top: 112px;
    font-size: 30px;
    font-weight: bold;
    color: $black;
  }
  &__p {
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
    color: $black;
  }
  @include respond(tablet) {
    height: 353px;
    &__h1 {
      margin-top: 124px;
    }
  }

  @include respond(desktop) {
    height: 476px;
    &__h1 {
      margin-top: 169px;
      font-size: 35px;
    }
    &__p {
      font-size: 20px;
    }
  }
}

.signup-part2 {
  height: 527px;
  background-color: $login-page-grey;
  border-top: 1px solid $grey;
  @include respond(tablet) {
    height: 671px;
  }
  @include respond(desktop) {
    height: 994px;
  }
}
