.landing-page {
  height: 812px;
  flex-direction: column;
  padding-right: 83px;
  padding-left: 103px;
  background-color: $landing-page;
  @extend .flex-vertical-center;
  &__h1 {
    margin-top: 116px;
    font-weight: bold;
    font-size: 20px;
    color: $white;
  }
  &__p {
    margin-top: 20px;
    text-align: center;
    color: $white;
    opacity: 0.8;
    font-size: 14px;
  }
  &__button {
    @extend .flex-vertical-center;
    @extend .flex-horizontal-center;
    margin-top: 205px;
    width: 184px;
    height: 49px;
    border-radius: 25px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid $grey;
    background-color: $red;
    color: $white;
    outline: none;
    cursor: pointer;
    &:after {
      content: "";
      display: inline-block;
      height: 0px;
      width: 0px;
      margin-left: 4.5px;
      border-color: transparent $white;
      border-style: solid;
      border-width: 4.5px 0px 4.5px 4.5px;
    }
  }
  @include respond(tablet) {
    height: 1024px;
    padding-left: 241px;
    padding-right: 244px;
    &__h1 {
      margin-top: 163px;
      font-size: 30px;
    }
    &__p {
      margin-top: 22px;
    }
    &__button {
      margin-top: 164px;
    }
  }
  @include respond(desktop) {
    height: 800px;
    padding-left: 471px;
    padding-right: 471px;
    &__h1 {
      margin-top: 180px;
      font-size: 35px;
    }
    &__p {
      font-size: 20px;
      margin-top: 25px;
    }
    &__button {
      width: 196px;
      height: 52px;
    }
  }
}
