// COLORS

$landing-page: #ce98df;
$white: #ffffff;
$black: #000000;
$red: #e24f54;
$grey: #707070;
$login-page-green: #88cf8f;
$login-page-grey: #e3e8eb;
$signup-page-lightcoral: #feeede;
$dashboard-menu-black: #323232;
$dashboard-text-color: #7f7b7b;
$dashboard-shadow-box: 0px 6px 3px -3px #00000029;
$dashboard-border-grey: #00000029;
$dashboard-clock-background: #494949;
