.menu {
  display: none;
  @include respond(tablet) {
    display: block;
    margin-right: 61px;
    a {
      text-decoration: none;
      color: $black;
      text-align: center;
      font-size: 14px;
      font-weight: bold;
      margin-left: 6px;
      margin-right: 6px;
    }
  }
  @include respond(desktop) {
    margin-right: 134px;
    a {
      font-size: 20px;
      margin-left: 8px;
      margin-right: 8px;
    }
  }
}
