// ovde ubacujemo neke genericke klase

.abs-vertical-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.abs-horizontal-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.flex-vertical-center {
  display: flex;
  align-items: center;
}

.flex-horizontal-center {
  display: flex;
  justify-content: center;
}

.flex-center {
  @extend .flex-horizontal-center;
  @extend .flex-vertical-center;
}

.white {
  background-color: $white;
  color: $red;
}

.red {
  background-color: $red;
  color: $white;
}
