.login-page {
  height: 812px;

  .login-part1 {
    height: 368px;
    background-color: $login-page-green;
    flex-direction: column;
    @extend .flex-vertical-center;
    &__h1 {
      margin-top: 117px;
      height: 42px;
      font-size: 30px;
      font-weight: bold;
      color: $white;
    }
    &__p {
      margin-top: 10px;
      font-size: 14px;
      font-weight: bold;
      color: $white;
      height: 40px;
    }
  }

  .login-part2 {
    height: 443px;
    background-color: $login-page-grey;
    border-top: 1px solid $grey;
    .signup-container {
      display: none;
    }
  }

  @include respond(tablet) {
    height: 1024px;

    .login-part1 {
      height: 353px;
      &__h1 {
        margin-top: 124px;
      }
    }
    .login-part2 {
      height: 670px;

      .signup-container {
        display: flex;
        flex-direction: column;
        align-items: center; //You may not @extend an outer selector from within @media. Unable to use @extend
        margin-top: 457px;
        &__p {
          font-size: 14px;
          font-weight: bold;
          letter-spacing: -0.7px;
          color: $black;
          height: 20px;
        }
        &__button {
          text-decoration: none;
          text-transform: uppercase;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: 22px;
          width: 200px;
          height: 48px;
          border: 1px solid $grey;
          border-radius: 24px;
          outline: none;
          background-color: $white;
          color: $black;
          font-size: 14px;
          font-weight: bold;
          cursor: pointer;
          &:after {
            content: "";
            display: inline-block;
            height: 0px;
            width: 0px;
            margin-left: 4.5px;
            border-color: transparent $black;
            border-style: solid;
            border-width: 4.5px 0px 4.5px 4.5px;
          }
        }
      }
    }
  }
  @include respond(desktop) {
    height: 1541px;

    .login-part1 {
      height: 476px;
      &__h1 {
        margin-top: 169px;
        font-size: 35px;
      }
      &__p {
        font-size: 20px;
      }
    }

    .login-part2 {
      height: 1065px;

      .signup-container {
        margin-top: 640px;
        &__p {
          font-size: 20px;
          height: 27px;
        }
        &__button {
          width: 270px;
          height: 65px;
          margin-top: 15px;
          font-size: 20px;
          letter-spacing: -0.5px;
        }
      }
    }
  }
}
